<template>
  <div>
    <v-navigation-drawer v-model="drawer" app
      dark
      enable-resize-watcher persistent stateless :mini-variant="miniNav"
      class="ag-navigation-drawer">
      <v-list dense>
        <v-list-tile avatar>
          <v-list-tile-avatar @click="miniNav = !miniNav">
            <img src="../assets/avatar.svg" alt="Solar">
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title class="myTitle">{{ name }}</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-btn icon @click.native.stop="miniNav = !miniNav">
              <v-icon>chevron_left</v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
        <v-divider class="mt-1"></v-divider>
        <template v-for="(item, index) in items">
          <v-divider v-if="item.divider" :key="index"></v-divider>
          <v-tooltip right :key="index">
            <template v-slot:activator="{ on }">
              <v-list-tile v-on="on" :key="item.text"
                :class="index === items.length - 1 ? 'logout-position' : ''" @click="item.func">
                <v-list-tile-action>
                  <img :src="require(`../assets/${item.icon}`)" alt="Girl in a jacket" width="25">
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title class="myTitle">{{ item.text }}</v-list-tile-title>
                </v-list-tile-content>

              </v-list-tile>
            </template>
            <span class="tooltip-text__color">{{ item.text }}</span>
          </v-tooltip>
        </template>
        <v-list-tile @click="maxMinHandler"
          class="minimize-position">
          <v-list-tile-action>
            <img :src="require(`../assets/${icon}`)" alt="Girl in a jacket" width="25">
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="myTitle">{{ minName }} Canvas</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <router-view />
  </div>
</template>

<script>
import {
  mapGetters,
  mapMutations
} from 'vuex'
import {
  EventBus
} from '@/services/EventBus'

export default {
  data() {
    return {
      drawer: true,
      items: [{
          icon: 'new-file.svg',
          text: 'New Canvas',
          func: () => EventBus.$emit('new-file')
        },
        {
          icon: 'import.svg',
          text: 'Import File',
          func: () => EventBus.$emit('import-file')
        },
        {
          icon: 'export.svg',
          text: 'Export File',
          func: () => EventBus.$emit('export-file')
        },
        {
          icon: 'logout.svg',
          text: 'Logout',
          func: this.logOutHandler
        }
      ],
      miniNav: true,
      isMinimize: false,
      minimizeIcon: 'minimize-icon.svg',
      maximizeIcon: 'maximize-icon.svg'
    }
  },
  computed: {
    ...mapGetters(['getUserData']),
    name() {
      return this.getUserData.name
    },
    icon() {
      return this.isMinimize ? this.minimizeIcon : this.maximizeIcon
    },
    minName() {
      return this.isMinimize ? 'Maximize' : 'Minimize'
    }
  },
  methods: {
    ...mapMutations(['SET_IS_LOGIN']),
    logOutHandler() {
      let youSure = confirm('Are you sure you want to logout?')
      if (youSure) {
        this.SET_IS_LOGIN(false)
        this.$router.push('/login')
      }
    },
    maxMinHandler() {
      this.isMinimize = !this.isMinimize;
      EventBus.$emit('max-min', this.isMinimize)
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

.tooltip-text__color {
  color: #000;
}

.ag-navigation-drawer {
  background-color: #354070 !important;
}

.minimize-position {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.logout-position {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.myTitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}
</style>
