<template>
  <v-layout>
    <div class="enerman">
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-layout column justify-center align-center>
          <p class="login-heading">Login to Your Account</p>
          <p class="login-info">Login using enerman credentials</p>
          <v-text-field label="Username" type="email" :rules="emailRules" v-model="model.username"
            placeholder="Username" required :style="{ width: '30vw' }">
          </v-text-field>
          <v-text-field :append-icon="show ? 'visibility' : 'visibility_off'" name="password"
            label="Password" id="password" :type="show ? 'text' : 'password'" :rules="passwordRules"
            v-model="model.password" required @click:append="show = !show"
            :style="{ width: '30vw' }" @keydown.enter="login">
          </v-text-field>
          <v-btn class="btn-md" dark color="#0E3F6D" :disabled="isButtonDisabled" @click="login">
            Sign In</v-btn>
        </v-layout>
      </v-form>
    </div>
    <div class="empty-background">
      <div class="header-text">SLD TOOL</div>
      <div class="info-text">Configuring SLD made easier</div>
    </div>
  </v-layout>
</template>

<script>
import {
  mapGetters,
  mapMutations
} from 'vuex'
import {
  Api
} from '@/services/Login'

export default {
  data: () => ({
    show: false,
    isEmailValidation: true,
    label: 'Email',
    icon: 'email',
    valid: true,
    email: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v =>
      /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      .test(
        v
      ) || 'E-mail must be valid'
    ],
    model: {
      username: '',
      password: ''
    },
    validate: {
      id: ''
    },
    passwordRules: [v => !!v || 'Password is required'],
    isButtonDisabled: false,
  }),
  computed: {
    ...mapGetters(['getIsLogin'])
  },
  mounted() {
    if (this.getIsLogin) {
      this.$router.push('/sld')
    }
  },
  methods: {
    ...mapMutations(['SET_IS_LOGIN', 'SET_USER_DATA', 'SET_PROGRESS']),
    login() {
      if (this.$refs.form.validate()) {
        if (this.model.username === '' || this.model.password === '') {
          return
        }
        this.isButtonDisabled = true
        this.SET_PROGRESS(true)
        const payload = {
          email: this.model.username,
          password: this.model.password
        }
        Api()
          .post(`/api/v1.0/login`, payload)
          .then((res) => {
            this.SET_PROGRESS(false)
            const {
              name,
              email,
              role,
              user_id
            } = res.data

            if (role == 'admin') {
              this.SET_IS_LOGIN(true)
              this.SET_USER_DATA({
                name,
                email,
                role,
                user_id
              })
              this.$router.push('/sld')
            } else {
              alert(`Users only with role 'admin' is allowed. Not with ${role}`)
              this.isButtonDisabled = false
            }
          })
          .catch((error) => {
            alert(`${error}`)
            this.SET_PROGRESS(false)
            this.isButtonDisabled = false
          });
      } else {
        alert('Invalid Email')
      }
    }
  }
}
</script>

<style scoped lang="css">

.login-heading {
  font-family: 'Roboto';
  font-size: 34px;
  font-weight: 900;
  color: #0E3F6D;
}

.login-info {
  font-family: 'Roboto';
  font-size: 16px;
  color: #5271FF;
}

.enerman {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 48vw;
  height: 100vh;
  color: #717171;
  font-size: 22px;
}

.empty-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/background.jpeg');
  width: 52vw;
}

.header-text {
  color: #fff;
  font-size: 34px;
  font-weight: 900;
}

.info-text {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 4;
}

.btn-md {
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 400;
  padding: 15px;
  border-radius: 2rem;
  height: 45px;
  width: 10vw;
  cursor: pointer;
}

</style>