<template>
  <div id="app">
    <ProgressBar :visible="getIsProgressBar"/>
    <router-view />
  </div>
</template>

<script>
import ProgressBar from '@/components/baseComponents/ProgressBar.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'App',
  components: {
    ProgressBar
  },
  computed: {
    ...mapGetters([ 'getIsProgressBar' ])
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,700;1,900&display=swap');
body {
  font-family: 'Roboto'
}

.item-label {
  width: 7vw;
  text-align: left;
}

.action__button {
  width: 5.5vw;
}

.label--color {
  color: #000;
}

.label {
  display: inline;
  font-size: 14px;
}

.input-box {
  display: inline-block;
  margin-left: 10px;
}

.sub-header {
  width: 47vw;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #2a335a;
}

.drop-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: #354070;
  padding: 15px;
  width: 32.8vw;
  height: 502px;
  border-radius: 4px;
}

.input-search__wrapper {
  position: relative;
  margin-top: 10px;
  min-width: 100px;
}

.search {
  color: #000;
  border: 1px solid grey;
  border-radius: 3px;
  height: 37px;
  width: 601px;
  padding: 2px 23px 2px 16px;
  outline: 0;
  background-color: #f5f5f5;
}

.search-icon {
  position: absolute;
  top: 9px;
  right: 16px;
  width: 17px;
}

.imageDisplay {
  display: block;
}

.btn__success {
  background-color: #2a335a !important;
  color: #ffffff !important;
  font-size: 14px;
  width: 78px;
  height: 33px;
  border-radius: 3px;
}

.btn__reset {
  background-color: #d14949 !important;
  color: #ffffff !important;
  font-size: 14px;
  width: 78px;
  height: 33px;
  border-radius: 3px;
}

input[type="number"],
input[type="text"],
input[type="color"] {
  color: #6c6c6c;
  font-size: 14px;
  width: 158px;
  height: 37px;
  padding: 2px 23px 2px 16px;
  background-color: #f5f5f5;
  border: 1.5px solid #2a335a;
  border-radius: 3px;
}

.preview-image {
  position: relative;
  z-index: 5;
  top: 4px;
}
</style>
