<template>
  <v-dialog v-model="visible" hide-overlay persistent width="300">
    <v-card color="#285279" dark>
      <v-card-text>
        Please Wait
        <v-progress-linear indeterminate color="#fff" class="mb-0"></v-progress-linear>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    visible: {
      type: Boolean,
      default: false
    }
  }
}
</script>
