<template>
  <select @change="selectChangeHandler" :id="`select${selectId}`">
    <option v-for="(item, index) in items" :key="index" :value="item">
      {{ item }}
    </option>
  </select>
</template>

<script>
export default {
  props: {
    selectId: Number,
    items: {
      type: Array,
      default: function () {
        return [];
      },
    },
    selectedItem: {
      type: String,
      default: function () {
        return "";
      }
    },
    reset: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      item: ''
    }
  },
  computed: {
    computeCustomClass() {
      return `custom-select${this.selectId}`;
    },
  },
  mounted() {
    this.item = this.items[0]
    this.$emit(`selectChangeHandler${this.selectId}`, this.items[0]);
  },
  methods: {
    selectChangeHandler(event) {
      this.item = event.target.value
      this.$emit(`selectChangeHandler${this.selectId}`, event.target.value);
    },
  },
  watch: {
    selectedItem(val) {
      if (val !== this.item) {
        this.item = val
        document.querySelector(`#select${this.selectId}`).value = val
      }
    }
  },
};
</script>

<style>
select {
  font-size: 17px;
  color: #6c6c6c;
  height: 37px;
  width: 158px;
  padding: 6px 12px;
  border: 1px solid #2a335a !important;
  border-radius: 3px;
}
</style>
