<template>
  <v-layout align-center justify-center row wrap :style="{ width: '47vw', gap: '12px' }">
    <div class="sub-header">SELECT SYMBOL</div>
    <v-layout align-center justify-center row :style="{ width: '47vw', height: '3vh' }">
      <div>
        <v-switch v-model="isSvgUpload" light label="Upload SVG"></v-switch>
      </div>
    </v-layout>
    <v-form method="POST" enctype="multipart/form-data" ref="myForm" v-show="isSvgUpload">
      <input type="file" name="file" id="selectedFile" style="display: none" />
      <v-layout align-center justify-center row wrap :style="{ width: '47vw', gap: '12px' }">
        <div>
          <v-layout align-center justify-center row :style="{ width: '47vw' }">
            <div class="label label--color item-label">Category</div>
            <Select class="input-box item-align" :selectId="3" :items="s3DirectoryList"
              @selectChangeHandler3="(val) => (selectedDirectory = val)" />
          </v-layout>
        </div>
        <div>
          <v-layout align-center justify-center row :style="{ width: '47vw' }">
            <div class="label label--color item-label">Unique Name</div>
            <input class="input-box item-align" type="text" v-model="fileKey" />
          </v-layout>
        </div>
        <div>
          <v-layout align-center row :style="styleObject">
            <v-btn flat icon @click="handleFileSelect">
              <v-icon> attach_file </v-icon>
            </v-btn>
            <span :style="{ width: '8vw' }">{{ filePath ? filePath : "Browse a file" }}
            </span>
            <v-btn dark type="file" name="file" @click.prevent="uploadDocsHandler"
              :disabled="fileKey == '' || filePath == ''" :style="{ backgroundColor: '#ff8159' }">
              Upload
            </v-btn>
          </v-layout>
        </div>
      </v-layout>
    </v-form>
    <div class="drop-container">
      <div :style="{
          display: 'flex',
          flexFlow: 'row wrap',
          justifyContent: 'center',
          width: '33vw',
          padding: '15px',
          overflow: 'auto',
        }">
        <div @dblclick="loadImageOnCanvas(srcKey)" v-for="srcKey in Object.keys(svgImage)"
          :key="srcKey">
          <img class="imageDisplay" :src="svgImage[srcKey]" width="50" alt="srcKey" />
        </div>
      </div>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Device Type</div>
        <Select class="input-box item-align" :selectId="4" :items="deviceTypeList"
          @selectChangeHandler4="deviceChangeHandler" :selectedItem="selectedDeviceType" />
      </v-layout>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Device ID</div>
        <input class="input-box item-align" :placeholder="uIdSkeleton" type="text" v-model="uId" />
      </v-layout>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">X-offset</div>
        <input class="input-box item-align" type="number" name="input_xOffset" :value="xOffset"
          @change="(event) => inputChangeHandler(event, 'xOffset')" min="0" />
      </v-layout>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Y-offset</div>
        <input class="input-box item-align" type="number" name="input_yOffset" :value="yOffset"
          @change="(event) => inputChangeHandler(event, 'yOffset')" />
      </v-layout>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Width</div>
        <input class="input-box item-align" type="number" name="input_width" :value="width"
          @change="(event) => inputChangeHandler(event, 'width')" />
      </v-layout>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Height</div>
        <input class="input-box item-align" type="number" name="input_height" :value="height"
          @change="(event) => inputChangeHandler(event, 'height')" />
      </v-layout>
    </div>
    <div v-show="isEnableLocation">
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Location</div>
        <Select class="input-box item-align" :selectId="5" :items="locationList"
          @selectChangeHandler5="(val) => (selectedLocation = val)"
          :selectedItem="selectedLocation" />
      </v-layout>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw', height: '3vh' }">
        <div class="item-label" v-show="selectedDeviceType && selectedDeviceType !== 'Device Type'">
          <v-switch :value="isHoverEnable" @change="isHoverEnableHandler" light label="Hover">
          </v-switch>
        </div>
        <div class="item-align">
          <v-switch v-model="isEnableLocation" light label="Location"></v-switch>
        </div>
      </v-layout>
    </div>
    <div v-show="isHoverEnable">
      <v-layout align-center justify-center row wrap :style="{ width: '47vw' }">
        <div class="sub-header" @click="() => (isPreview = !isPreview)">
          Hover Parameters
        </div>
        <div class="preview-container" v-show="isPreview">
          <textarea class="demo_parameter">{{ hoverParameter | pretty }}
          </textarea>
        </div>
      </v-layout>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="action__button">
          <v-btn class="btn__reset" @click="resetHandler">Reset</v-btn>
        </div>
      </v-layout>
    </div>
  </v-layout>
</template>

<script>
import {
  mapMutations
} from 'vuex'
import { Api } from "@/services/Api";
import _ from "lodash";
import Select from "@/components/baseComponents/Select.vue";
import deviceParameters from "@/utils/deviceParameters";

export default {
  props: {
    activeParameters: {
      type: Object,
      default: function () {
        return {};
      },
    },
    activeType: {
      type: String,
      default: function () {
        return "";
      }
    },
    existingId: {
      type: Object,
      default: function () {
        return {}
      }
    },
    isSaved: {
      type: Boolean,
      default: true
    }
  },
  components: {
    Select,
  },
  data() {
    return {
      fileKey: "",
      isSvgUpload: false,
      selectedDirectory: null,
      s3DirectoryList: [],
      styleObject: {
        border: "1px solid black",
        borderRadius: "5px",
        height: "4vh",
        width: "16vw",
      },
      filePath: "",
      file: null,
      selectedDeviceType: null,
      deviceTypeList: [
        "device type",
        "inverter",
        "mfm",
        "scb",
        "breaker",
        "transformer",
        "annunciator",
        "energy meter",
      ],
      id: "",
      uId: "",
      previousUid: "",
      xOffset: 100,
      yOffset: 100,
      width: 50,
      height: 50,
      locationList: [
        "/inverter",
        "/mfm",
        "/weather_station",
        "/scb",
        "/other_sensor",
      ],
      selectedLocation: null,
      isHoverEnable: false,
      isEnableLocation: false,
      activeInputSync: false,
      isPreview: true,
      svgImage: {},
      hoverParameter: {},
      uIdSkeleton: "",
      hoverProperty: {},
      invalidUid: false,
      isDBImageActive: false
    };
  },
  computed: {
    isWatchEnabled() {
      return `${this.isHoverEnable} ${this.isEnableLocation} ${this.selectedLocation} ${this.selectedDeviceType}`;
    },
    presentId() {
      if (Object.keys(this.existingId) && this.existingId[this.selectedDeviceType] && this.existingId[this.selectedDeviceType].length) {
        return this.existingId[this.selectedDeviceType]
      } else {
        return []
      }
    },
    disableContainer() {
      return this.isSaved && !this.invalidUid
    }
  },
  async mounted() {
    await this.sldImageCollectionImport()
    document.getElementById("selectedFile").addEventListener("change", (e) => {
      this.file = e.target.value;
    });
  },
  methods: {
    ...mapMutations([ 'SET_PROGRESS' ]),
    handleFileSelect(e) {
      document.getElementById("selectedFile").click();
    },
    sldImageCollectionImport() {
      Api()
      .get("/svg/sld")
      .then((res) => {
        this.svgImage = res.data;
      })
      .catch((error) => {
        console.log(error);
      });
    },
    resetHandler() {
      this.$emit('reset', 'image')
    },
    deviceChangeHandler(val) {
      const lowerCaseValue = val.toLowerCase();
      this.selectedDeviceType = lowerCaseValue;
      if (val !== "device type") {
        if (
          Object.keys(this.hoverProperty).length != 0 &&
          this.hoverProperty[this.selectedDeviceType] !== undefined
        ) {
          this.isHoverEnable = this.hoverProperty[this.selectedDeviceType];
        } else {
          this.isHoverEnable = false;
        }
        this.hoverParameter = deviceParameters[this.selectedDeviceType].hover;
        this.uIdSkeleton = deviceParameters[this.selectedDeviceType].id;
      } else {
        this.hoverParameter = {};
        this.uIdSkeleton = "";
      }
    },
    isHoverEnableHandler() {
      this.isHoverEnable = !this.isHoverEnable;
      if (this.hoverProperty[this.selectedDeviceType] !== undefined) {
        this.hoverProperty[this.selectedDeviceType] = this.isHoverEnable;
      } else {
        this.$set(
          this.hoverProperty,
          this.selectedDeviceType,
          this.isHoverEnable
        );
      }
    },
    uploadDocsHandler() {
      if (Object.keys(this.svgImage).some(el => el == this.fileKey)) {
        alert(`This key name already exists. Try with a different key`)
        return
      }
      if (
        this.fileKey == "" ||
        this.$refs.myForm.$el.querySelector("input[type=file]").value == ""
      ) {
        return;
      }

      this.SET_PROGRESS(true)
      let form = this.$refs.myForm.$el;
      let data = new FormData(form);

      data.append(
        "directory",
        this.selectedDirectory
          ? this.selectedDirectory
          : this.s3DirectoryList[0]
      );
      data.append("key", this.fileKey);
      data.append("diagram", 'sld');

      Api()
        .post("/uploadSVG", data)
        .then((res) => {
          this.SET_PROGRESS(false)
          this.filePath = "";
          this.fileKey = "";
          this.$refs.myForm.$el.querySelector("input[type=file]").value = null;
          this.sldImageCollectionImport()
        })
        .catch((err) => {
          this.SET_PROGRESS(false)
          alert(err)
        });
    },
    initialState() {
      this.xOffset = 100;
      this.yOffset = 100;
      this.width = 50;
      this.height = 50;
      this.uId = "";
      this.previousUid = "";
      this.selectedLocation = this.locationList[0];
      this.isEnableLocation = false;
      this.isHoverEnable = false;
      this.activeInputSync = false;
      this.selectedDeviceType = this.deviceTypeList[0];
    },
    loadImageOnCanvas(key) {
      if (this.isSaved) {
        if (!this.invalidUid) {
          this.id = key;
          const image = this.inputNote();
          this.activeInputSync = true;
          this.$emit("loadOnCanvas", {
            key: "image",
            value: image,
            actionType: "add_new",
          });
        } else {
          alert('Please give a valid Device ID!')
        }
      } else {
        alert('Please save the image first!')
      }
    },
    inputNote() {
      const image = {};
      image["id"] = this.id;
      if (
        this.selectedDeviceType &&
        this.selectedDeviceType !== "device type"
      ) {
        image["device"] = this.selectedDeviceType.toLowerCase();
        if (
          Object.keys(this.hoverProperty).length != 0 &&
          this.hoverProperty[this.selectedDeviceType] !== undefined
        ) {
          this.isHoverEnable = this.hoverProperty[this.selectedDeviceType];
        }
      }
      image["hoverParameter"] = this.hoverParameter;
      image["isHoverEnable"] = this.isHoverEnable;

      image["uId"] = this.uId;
      image["previousUid"] = this.previousUid;
      image["isLocationEnable"] = this.isEnableLocation;
      if (this.isEnableLocation) {
        image["location"] = this.selectedLocation
          ? this.selectedLocation
          : this.locationList[0];
      }
      image["x"] = this.xOffset;
      image["y"] = this.yOffset;
      image["width"] = this.width;
      image["height"] = this.height;
      return image;
    },
    inputChangeHandler(event, stateName) {
      this[stateName] = parseInt(event.target.value);
      if (this.activeInputSync) {
        const image = this.inputNote();
        this.$emit("loadOnCanvas", {
          key: "image",
          value: image,
          actionType: "update_existing",
        });
      }
    },
  },
  watch: {
    file() {
      this.filePath = this.file.replace("C:\\fakepath\\", "");
    },
    isSvgUpload() {
      if (this.isSvgUpload) {
        Api()
          .get("/svg/directory/sld")
          .then((res) => {
            this.s3DirectoryList = res.data.CommonPrefixes.map((el) => {
              return el.Prefix.replace(res.data.Prefix, "").replace("/", "");
            });
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    uId(value, oldValue) {
      let isCallUpdate = false
      if (value) {
        this.uIdSkeleton = deviceParameters[this.selectedDeviceType].id;
        if (this.isDBImageActive) {
          this.isDBImageActive = false
        } else {
          if (
            value.split("-").length === this.uIdSkeleton.split("-").length &&
            !value.split("-").some((el) => el === "")
          ) {
            const isIdExists = this.presentId.length ? 
              this.presentId.some(el => el === value) : false;
            if (isIdExists) {
              alert('This ID already exists')
              this.invalidUid = true
            } else {
              isCallUpdate = true
              this.invalidUid = false
            }
          } else {
            isCallUpdate = false
          }
        }
  
        if (isCallUpdate && this.activeInputSync) {
          const image = this.inputNote();
  
          this.$emit("loadOnCanvas", {
            key: "image",
            value: image,
            actionType: "update_existing",
          });
        }
      }
    },
    isWatchEnabled() {
      if (this.activeInputSync) {
        this.hoverParameter = deviceParameters[this.selectedDeviceType].hover;
        const image = this.inputNote();

        this.$emit("loadOnCanvas", {
          key: "image",
          value: image,
          actionType: "update_existing",
        });
      }
    },
    activeParameters: {
      handler(val) {
        if (this.activeType == "image" && Object.keys(val).length > 0) {
          this.isDBImageActive = true
          this.id = val["id"];
          this.xOffset = parseFloat(val["x"]);
          this.yOffset = parseFloat(val["y"]);
          this.width = parseFloat(val["width"]);
          this.height = parseFloat(val["height"]);
          if (val["device"]) {
            this.selectedDeviceType = val["device"];
          }
          this.uId = val["uId"];
          this.previousUid = val["uId"];
          this.activeInputSync = true;
        } else {
          this.initialState();
        }
      },
      deep: true
    },
    disableContainer(val) {
      if (!val) {
        document.querySelector('.drop-container').classList.add('drop-container__opacity')
      } else {
        if (document.querySelector('.drop-container__opacity')) {
          document.querySelector('.drop-container__opacity').classList.remove('drop-container__opacity')
        }
      }
    }
  },
  filters: {
    pretty(value) {
      return JSON.stringify(value, null, 4);
    },
  },
};
</script>

<style>
.preview-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 32.8vw;
  height: 502px;
  background: #354070;
  border-radius: 4px;
}

.drop-container__opacity {
  opacity: 0.7;
}

.demo_parameter {
  resize: none;
  color: #fff;
  width: 21vw;
  height: 430px;
}
</style>
