<template>
  <v-layout align-center justify-center row wrap :style="{ width: '47vw', gap: '12px' }">
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Line Style</div>
        <Select class="input-box item-align" :selectId="6" :items="lineStyleList"
          @selectChangeHandler6="lineSelectHandler" :disabled="!isSaved"/>
      </v-layout>
    </div>
    <div class="sub-header" @click="previewHandler">Preview</div>
    <div class="preview-container" v-show="isPreview">
      <hr class="mock_line" />
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">X-start</div>
        <input class="input-box item-align" type="number" :value="xStart"
          @change="(event) => inputChangeHandler(event, 'xStart')" />
      </v-layout>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">X-end</div>
        <input class="input-box item-align" type="number" :value="xEnd"
          @change="(event) => inputChangeHandler(event, 'xEnd')" />
      </v-layout>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Y-start</div>
        <input class="input-box item-align" type="number" :value="yStart"
          @change="(event) => inputChangeHandler(event, 'yStart')" />
      </v-layout>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Y-end</div>
        <input class="input-box item-align" type="number" :value="yEnd"
          @change="(event) => inputChangeHandler(event, 'yEnd')" />
      </v-layout>
    </div>
    <div class="action__button">
      <v-btn class="btn__success" @click="loadLineOnCanvas" :disabled="!isSaved">Add</v-btn>
      <v-btn class="btn__reset" @click="resetHandler">Reset</v-btn>
    </div>
  </v-layout>
</template>

<script>
import Select from "@/components/baseComponents/Select.vue";
import lineAttr from "@/utils/lineAttributes";

export default {
  props: {
    activeParameters: {
      type: Object,
      default: function () {
        return {};
      }
    },
    activeType: {
      type: String,
      default: function () {
        return ''
      }
    },
    isSaved: {
      type: Boolean,
      default: true
    }
  },
  components: {
    Select,
  },
  data() {
    return {
      selectedLineStyle: null,
      image: '',
      previousImage: '',
      xStart: 100,
      yStart: 100,
      xEnd: 200,
      yEnd: 100,
      isPreview: true,
      activeInputSync: false,
    };
  },
  computed: {
    previewImage() {
      return this.isPreview ? 'show-icon.svg' : 'hide-icon.svg';
    },
    lineStyleList() {
      return Object.keys(lineAttr)
    }
  },
  methods: {
    initialState() {
      this.xStart = 100;
      this.yStart = 100;
      this.xEnd = 200;
      this.yEnd = 100;
    },
    previewHandler() {
      this.isPreview = !this.isPreview;
    },
    resetHandler() {
      this.$emit('reset', 'path')
    },
    inputNote() {
      const line = {};
      this.image = `M${this.xStart}, ${this.yStart}L${this.xEnd}, ${this.yEnd}`;
      line["xStart"] = this.xStart;
      line["yStart"] = this.yStart;
      line["xEnd"] = this.xEnd;
      line["yEnd"] = this.yEnd;
      line['image'] = this.image;
      line['previousImage'] = this.previousImage
      line["attr"] = this.selectedLineStyle;
      return line
    },
    loadLineOnCanvas() {
      const line = this.inputNote()
      this.$emit("loadOnCanvas", {
        key: "line",
        value: line,
        actionType: "add_new",
      });
      this.activeInputSync = true;
    },
    inputChangeHandler(event, stateName) {
      this[stateName] = parseInt(event.target.value);

      if (this.activeInputSync) {
        const line = this.inputNote()
        this.$emit("loadOnCanvas", {
          key: "line",
          value: line,
          actionType: "update_existing",
        });
      }
    },
    lineSelectHandler(val) {
      this.selectedLineStyle = val;
      let color, line;
      if (lineAttr[val].stroke) {
        color = lineAttr[val].stroke;
      }

      if (lineAttr[val]["stroke-dasharray"]) {
        line = "dashed";
      } else {
        line = "solid";
      }

      document.querySelector(
        ".mock_line"
      ).style.border = `1px ${line} ${color}`;
    }
  },
  watch: {
    activeParameters: {
      handler(val) {
        if (this.activeType == 'line' &&Object.keys(val).length > 0) {
          this.xStart = parseFloat(val["xStart"]);
          this.yStart = parseFloat(val["yStart"]);
          this.xEnd = parseFloat(val["xEnd"]);
          this.yEnd = parseFloat(val["yEnd"]);
          this.image = val['image'];
          this.previousImage = val['previousImage'];
          this.selectedLineStyle = val["attr"];
        } else {
          this.initialState();
        }
      },
      deep: true
    }
  },
};
</script>

<style scoped>
.preview-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 322px;
  height: 151px;
  background: #354070;
  border-radius: 4px;
}

.mock_line {
  width: 195.02px;
}
</style>
