<template>
  <v-layout align-center justify-center row wrap :style="{ width: '47vw', gap: '12px' }">
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Rect Style</div>
        <Select class="input-box item-align" :selectId="9" :items="rectStyleList"
          @selectChangeHandler9="rectSelectHandler" :disabled="!isSaved" />
      </v-layout>
    </div>
    <div class="sub-header" @click="previewHandler">Preview </div>
    <div class="preview-container" v-show="isPreview">
      <div id="mock_line">
      </div>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">X-Offset</div>
        <input class="input-box item-align" type="number" :value="xOffset"
          @change="(event) => inputChangeHandler(event, 'xOffset')" />
      </v-layout>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Y-Offset</div>
        <input class="input-box item-align" type="number" :value="yOffset"
          @change="(event) => inputChangeHandler(event, 'yOffset')" />
      </v-layout>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Width</div>
        <input class="input-box item-align" type="number" :value="width"
          @change="(event) => inputChangeHandler(event, 'width')" />
      </v-layout>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Height</div>
        <input class="input-box item-align" type="number" :value="height"
          @change="(event) => inputChangeHandler(event, 'height')" />
      </v-layout>
    </div>
    <div class="action__button">
      <v-btn class="btn__success" @click="loadRectOnCanvas" :disabled="!isSaved">Add</v-btn>
      <v-btn class="btn__reset" @click="resetHandler">Reset</v-btn>
    </div>
  </v-layout>
</template>

<script>
import Select from "@/components/baseComponents/Select.vue";
import rectAttr from "@/utils/rectAttributes";

export default {
  props: {
    activeParameters: {
      type: Object,
      default: function () {
        return {};
      },
    },
    activeType: {
      type: String,
      default: function () {
        return ''
      }
    },
    isSaved: {
      type: Boolean,
      default: true
    }
  },
  components: {
    Select,
  },
  data() {
    return {
      rectStyleList: [
        'lineRectStrokeColorPurple',
        'dash_rect',
        'dash_disable_rect',
        'dash_disable_rect_orange'
      ],
      selectedRectStyle: null,
      xOffset: 100,
      yOffset: 100,
      width: 200,
      height: 100,
      isPreview: true,
      activeInputSync: false,
    };
  },
  computed: {
    previewImage() {
      return this.isPreview ? 'show-icon.svg' : 'hide-icon.svg';
    },
  },
  methods: {
    initialState() {
      this.xOffset = 100;
      this.yOffset = 100;
      this.width = 200;
      this.height = 100;
    },
    previewHandler() {
      this.isPreview = !this.isPreview;
    },
    resetHandler() {
      this.$emit('reset', 'rect')
    },
    inputNote() {
      const rect = {};
      rect["x"] = this.xOffset;
      rect["y"] = this.yOffset;
      rect["width"] = this.width;
      rect["height"] = this.height;
      rect["attr"] = this.selectedRectStyle;
      return rect
    },
    inputChangeHandler(event, stateName) {
      this[stateName] = parseInt(event.target.value);
        
      if (this.activeInputSync) {
        const rect = this.inputNote()
        this.$emit("loadOnCanvas", {
          key: "rect",
          value: rect,
          actionType: "update_existing",
        });
      }
    },
    rectSelectHandler(val) {
      this.selectedRectStyle = val;
      let color, borderStyle;
      if (rectAttr[val].stroke) {
        color = rectAttr[val].stroke;
      } 

      if (rectAttr[val]["stroke-dasharray"]) {
        borderStyle = "dashed";
      } else {
        borderStyle = "solid";
      }

      document.querySelector(
        "#mock_line"
      ).style.border = `2px ${borderStyle} ${color}`;
    },
    loadRectOnCanvas() {
      const rect = this.inputNote()
      this.$emit("loadOnCanvas", {
        key: "rect",
        value: rect,
        actionType: "add_new",
      });
      this.activeInputSync = true;
    },
  },
  watch: {
    activeParameters: {
      handler(val) {
        if (this.activeType == 'rect' &&Object.keys(val).length > 0) {
          this.xOffset = parseFloat(val["x"]);
          this.yOffset = parseFloat(val["y"]);
          this.width = parseFloat(val["width"]);
          this.height = parseFloat(val["height"]);
          this.selectedRectStyle = val["attr"];
        } else {
          this.initialState();
        }
      },
      deep: true
    }
  }
};
</script>

<style scoped>
.preview-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 322px;
  height: 151px;
  background: #354070;
  border-radius: 4px;
}

#mock_line {
  width: 200px;
  height: 100px;
}
</style>
