<template>
  <v-layout align-center justify-center row wrap :style="{ width: '47vw', gap: '12px' }">
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Table For</div>
        <Select class="input-box item-align" :selectId="7" :items="deviceTableList"
          @selectChangeHandler7="deviceSelectHandler" :selectedItem="selectedDeviceTable"
          :disabled="!isSaved" />
      </v-layout>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Device ID</div>
        <input class="input-box item-align" type="text" :placeholder="deviceIdSkeleton"
          v-model="deviceId" />
      </v-layout>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '17vw', height: '3vh' }">
        <v-switch v-model="enableParameterColumn" light
          :label="`Parameter: ${enableParameterColumn.toString()}`"></v-switch>
        <v-switch v-model="enableValueColumn" light
          :label="`Value: ${enableValueColumn.toString()}`"></v-switch>
      </v-layout>
    </div>
    <div v-show="enableParameterColumn">
      <v-layout align-center justify-center row wrap :style="{ width: '47vw' }">
        <div>
          <v-layout align-center justify-center row :style="{ width: '47vw' }">
            <div class="label label--color item-label">Parameter Header</div>
            <input class="input-box item-align" type="text" v-model="parameterHeader" />
          </v-layout>
        </div>
        <div>
          <v-layout align-center justify-center row :style="{ width: '47vw' }">
            <div class="label label--color item-label">Parameter Width</div>
            <input class="input-box item-align" type="number" :value="paramColWidth"
              @change="(event) => inputChangeHandler(event, 'paramColWidth')" />
          </v-layout>
        </div>
        <div>
          <v-layout align-center justify-center row :style="{ width: '47vw' }">
            <div class="label label--color item-label">Parameter X-offset</div>
            <input class="input-box item-align" type="number" :value="paramXOffset"
              @change="(event) => inputChangeHandler(event, 'paramXOffset')" />
          </v-layout>
        </div>
        <div>
          <v-layout align-center justify-center row :style="{ width: '47vw' }">
            <div class="label label--color item-label">Parameter Y-offset</div>
            <input class="input-box item-align" type="number" :value="paramYOffset"
              @change="(event) => inputChangeHandler(event, 'paramYOffset')" />
          </v-layout>
        </div>
      </v-layout>
    </div>
    <div v-show="enableValueColumn">
      <v-layout align-center justify-center row wrap :style="{ width: '47vw', gap: '12px' }">
        <div>
          <v-layout align-center justify-center row :style="{ width: '47vw' }">
            <div class="label label--color item-label">Data Header</div>
            <input class="input-box item-align" type="text" v-model="valueHeader" />
          </v-layout>
        </div>
        <div>
          <v-layout align-center justify-center row :style="{ width: '47vw' }">
            <div class="label label--color item-label">Data Width</div>
            <input class="input-box item-align" type="number" :value="valueColWidth"
              @change="(event) => inputChangeHandler(event, 'valueColWidth')" />
          </v-layout>
        </div>
        <div>
          <v-layout align-center justify-center row :style="{ width: '47vw' }">
            <div class="label label--color item-label">Data X-offset</div>
            <input class="input-box item-align" type="number" :value="dataXOffset"
              @change="(event) => inputChangeHandler(event, 'dataXOffset')" />
          </v-layout>
        </div>
        <div>
          <v-layout align-center justify-center row :style="{ width: '47vw' }">
            <div class="label label--color item-label">Data Y-offset</div>
            <input class="input-box item-align" type="number" :value="dataYOffset"
              @change="(event) => inputChangeHandler(event, 'dataYOffset')" />
          </v-layout>
        </div>
      </v-layout>
    </div>
    <div>
      <v-layout align-center justify-center row wrap :style="{ width: '47vw' }">
        <div class="sub-header">Parameters 
          <img
            :src="require(`../../assets/reset.svg`)" alt="reset" width="25"
            class="preview-image" @click="resetParameterHandler" />
        </div>
        <div class="preview-container" v-show="isPreview">
          <textarea class="demo_parameter" v-model="tableParameter"></textarea>
        </div>
      </v-layout>
    </div>
    <div>
      <v-layout align-center justify-center row wrap :style="{ width: '47vw' }">
        <div class="action__button">
          <v-btn class="btn__success" @click="loadTableOnCanvas"
            :disabled="!enableAddNew || !isSaved">Add
          </v-btn>
          <v-btn class="btn__reset" @click="resetHandler">Reset</v-btn>
        </div>
      </v-layout>
    </div>
  </v-layout>
</template>

<script>
import {
  mapGetters,
  mapMutations
} from 'vuex'
import Select from "@/components/baseComponents/Select.vue";
import deviceParameters from "@/utils/deviceParameters";

export default {
  props: {
    activeParameters: {
      type: Object,
      default: function () {
        return {};
      },
    },
    activeType: {
      type: String,
      default: function () {
        return ''
      }
    },
    isSaved: {
      type: Boolean,
      default: true
    }
  },
  components: {
    Select,
  },
  data() {
    return {
      deviceTableList: [
        "inverter",
        "mfm",
        "scb",
        "breaker",
        "transformer",
        "annunciator",
        "energy meter"
      ],
      enableParameterColumn: false,
      enableValueColumn: true,
      isPreview: true,
      addNew: false,
      selectedDeviceTable: null,
      deviceIdSkeleton: "",
      deviceId: "",
      paramXOffset: 100,
      paramYOffset: 100,
      previousParamX: 100,
      previousParamY: 100,
      previousDeviceId: '',
      dataXOffset: 150,
      dataYOffset: 100,
      paramColWidth: 50,
      valueColWidth: 50,
      parameterHeader: "",
      valueHeader: "",
      tableParameter: "",
      activeInputSync: false,
    };
  },
  computed: {
    ...mapGetters(['getTableParameter']),
    previewImage() {
      return this.isPreview ? 'show-icon.svg' : 'hide-icon.svg';
    },
    enableAddNew: {
      get() {
        if (!this.enableValueColumn) {
          if (this.enableParameterColumn) {
            return true
          } else {
            return false
          }
        } else {
          return this.addNew
        }
      },
      set(val) {
        this.addNew = val
      }
    },
    isWatchEnabled() {
      return `${this.deviceId} ${this.parameterHeader} ${this.valueHeader}`
    }
  },
  methods: {
    ...mapMutations(['SET_TABLE_PARAMETER']),
    initialState() {
      this.deviceId = ''
      this.parameterHeader = ''
      this.selectedDeviceTable = this.deviceTableList[0];
      if (this.getTableParameter['table'][this.selectedDeviceTable]) {
        this.tableParameter = JSON.stringify(this.getTableParameter['table'][this.selectedDeviceTable], null, 4);
      } else {
        const tempObj = {}
        tempObj[this.selectedDeviceTable] = deviceParameters[this.selectedDeviceTable].table
        this.SET_TABLE_PARAMETER(tempObj)
        this.tableParameter = JSON.stringify(tempObj[this.selectedDeviceTable], null, 4)
      }
      this.deviceIdSkeleton = deviceParameters[this.selectedDeviceTable].id;
      this.paramXOffset = 100
      this.paramYOffset = 100
      this.previousParamX = 100
      this.previousParamY = 100
      this.previousDeviceId = ''
      this.paramColWidth = 50
      this.valueHeader = ""
      this.dataXOffset = 150
      this.dataYOffset = 100
      this.valueColWidth = 50

      this.enableParameterColumn = false
      this.enableValueColumn = true
      this.activeInputSync = false
    },
    previewHandler() {
      this.isPreview = !this.isPreview;
    },
    resetHandler() {
      this.$emit('reset', 'table')
    },
    inputNote() {
      const table = {};
      table["device"] = this.selectedDeviceTable;
      table["deviceId"] = this.deviceId;
      table["parameterHeader"] = this.parameterHeader;
      table["paramX"] = this.paramXOffset;
      table["paramY"] = this.paramYOffset;
      table['previousParamX'] = this.previousParamX
      table['previousParamY'] = this.previousParamY
      table['previousDeviceId'] = this.previousDeviceId;
      table["paramColWidth"] = this.paramColWidth;
      table["valueHeader"] = this.valueHeader;
      table["dataX"] = this.dataXOffset;
      table["dataY"] = this.dataYOffset;
      table["valueColWidth"] = this.valueColWidth;

      table["column"] = {
        parameter: this.enableParameterColumn,
        value: this.enableValueColumn,
      };
      table["tableParameter"] = JSON.parse(this.tableParameter);
      const tempObj = {}
      tempObj[this.selectedDeviceTable] = JSON.parse(this.tableParameter)
      this.SET_TABLE_PARAMETER(tempObj)
      return table
    },
    resetParameterHandler() {
      const tempObj = {}
      tempObj[this.selectedDeviceTable] = deviceParameters[this.selectedDeviceTable].table
      this.SET_TABLE_PARAMETER(tempObj)
      this.tableParameter = JSON.stringify(deviceParameters[this.selectedDeviceTable].table, null, 4)
    },
    loadTableOnCanvas() {
      const table = this.inputNote()
      if (this.enableAddNew) {
        this.$emit("loadOnCanvas", {
          key: "table",
          value: table,
          actionType: "add_new",
        });
        this.activeInputSync = true;
        this.enableAddNew = false;
      }
    },
    inputChangeHandler(event, stateName) {
      this[stateName] = parseInt(event.target.value)
      if (this.activeInputSync) {
        const table = this.inputNote()
        this.$emit("loadOnCanvas", {
          key: "table",
          value: table,
          actionType: "update_existing",
        });
      }
    },
    deviceSelectHandler(val) {
      this.selectedDeviceTable = val;
      this.deviceIdSkeleton = deviceParameters[val].id;
      if (this.getTableParameter['table'][val]) {
        this.tableParameter = JSON.stringify(this.getTableParameter['table'][val], null, 4);
      } else {
        const tempObj = {}
        tempObj[val] = deviceParameters[val].table
        this.SET_TABLE_PARAMETER(tempObj)
        this.tableParameter = JSON.stringify(tempObj[val], null, 4)
      }
    },
  },
  watch: {
    deviceId(val, oldVal) {
      if (
        val.split("-").length === this.deviceIdSkeleton.split("-").length &&
        !val.split("-").some((el) => el === "")
      ) {
        this.enableAddNew = true;
      } else {
        this.enableAddNew = false;
      }

      if (oldVal.split("-").length === this.deviceIdSkeleton.split("-").length &&
        !oldVal.split("-").some((el) => el === "")) {
        this.previousDeviceId = oldVal
      }
    },
    activeParameters: {
      handler(val) {
        if (this.activeType == 'table' && Object.keys(val).length > 0) {
          this.selectedDeviceTable = val['device']
          if (val['column'].parameter) {
            this.parameterHeader = val['parameterHeader']
            this.paramXOffset = val['paramX']
            this.paramYOffset = val['paramY']
            this.previousParamX = val['previousParamX']
            this.previousParamY = val['previousParamY']
            this.paramColWidth = val['paramColWidth']
          }

          if (val['column'].value) {
            this.deviceId = val['deviceId']
            this.previousDeviceId = val['previousDeviceId']
            this.valueHeader = val['valueHeader']
            this.dataXOffset = val['dataX']
            this.dataYOffset = val['dataY']
            this.valueColWidth = val['valueColWidth']
          }

          this.enableParameterColumn = !!val['column'].parameter
          this.enableValueColumn = !!val['column'].value
          this.tableParameter = JSON.stringify(val['tableParameter'], null, 4)
          this.activeInputSync = true
        } else {
          this.initialState();
        }
      },
      deep: true,
    },
    isWatchEnabled() {
      if (this.activeInputSync) {
        const table = this.inputNote()
        this.$emit("loadOnCanvas", {
          key: "table",
          value: table,
          actionType: "update_existing",
        });
      }
    }
  },
  filters: {
    pretty(value) {
      return JSON.stringify(value, null, 4);
    },
  },
};
</script>

<style scoped>
.label--color {
  color: #000;
}

.label {
  display: inline;
  font-size: 14px;
}

.item-label {
  width: 7vw;
  text-align: left;
}

.input-box {
  display: inline-block;
  margin-left: 10px;
}

.preview-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 23vw;
  height: 150px;
  background: #354070;
  border-radius: 4px;
}

.demo_parameter {
  resize: none;
  color: #fff;
  width: 18vw;
  height: 9rem;
}

.btn__success {
  background-color: #2a335a !important;
  color: #ffffff;
  font-size: 14px;
  width: 78px;
  height: 33px;
  border-radius: 3px;
}

.btn__reset {
  background-color: #d14949 !important;
  color: #ffffff;
  font-size: 14px;
  width: 78px;
  height: 33px;
  border-radius: 3px;
}

input[type="number"],
input[type="text"] {
  color: #6c6c6c;
  font-size: 14px;
  width: 158px;
  height: 37px;
  padding: 2px 23px 2px 16px;
  background-color: #f5f5f5;
  border: 1.5px solid #2a335a;
  border-radius: 3px;
}
</style>
