<template>
  <v-layout align-center justify-center row wrap :style="{ width: '47vw', gap: '12px' }">
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Text Style</div>
        <Select class="input-box item-align" :selectId="8" :items="textStyleList" @selectChangeHandler8="textSelectHandler"
          :selectedItem="selectedTextStyle" :disabled="!isSaved"/>
      </v-layout>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Text</div>
        <input class="input-box item-align" type="text" v-model="text" :disabled="!isSaved" />
      </v-layout>
    </div>
    <div v-show="selectedTextStyle === 'custom'">
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Color</div>
        <input class="input-box item-align" type="color" v-model="textColor" />
      </v-layout>
    </div>
    <div v-show="selectedTextStyle === 'custom'">
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Font Size</div>
        <input class="input-box item-align" type="number" v-model="fontSize" />
      </v-layout>
    </div>
    <div v-show="selectedTextStyle === 'custom'">
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Font Weight</div>
        <Select class="input-box item-align" :selectId="13" :items="fontWeightList"
          @selectChangeHandler13="(val) => fontWeight = val" :selectedItem="fontWeight" />
      </v-layout>
    </div>
    <div class="sub-header" @click="previewHandler">Preview </div>
    <div class="preview-container" v-show="isPreview">
      <div class="demo_text">
        {{ text }}
      </div>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">X-offset</div>
        <input class="input-box item-align" type="number" :value="xOffset"
          @change="(event) => inputChangeHandler(event, 'xOffset')" />
      </v-layout>
    </div>
    <div>
      <v-layout align-center justify-center row :style="{ width: '47vw' }">
        <div class="label label--color item-label">Y-offset</div>
        <input class="input-box item-align" type="number" :value="yOffset"
          @change="(event) => inputChangeHandler(event, 'yOffset')" />
      </v-layout>
    </div>
    <div class="action__button">
      <v-btn class="btn__success" @click="loadTextOnCanvas" :disabled="!isSaved">Add</v-btn>
      <v-btn class="btn__reset" @click="resetHandler">Reset</v-btn>
    </div>
  </v-layout>
</template>

<script>
import Select from "@/components/baseComponents/Select.vue";
import textAttr from "@/utils/textAttributes";

export default {
  props: {
    activeParameters: {
      type: Object,
      default: function () {
        return {};
      },
    },
    activeType: {
      type: String,
      default: function () {
        return ''
      }
    },
    isSaved: {
      type: Boolean,
      default: true
    }
  },
  components: {
    Select,
  },
  data() {
    return {
      isPreview: true,
      textStyleList: [
        "text_link",
        "side_text",
        "conn_text",
        "info_text",
        "block_text",
        "header_text",
        "gridLine_text",
        "block_subHeaderText",
        "block_headertext",
        "custom"
      ],
      selectedTextStyle: null,
      text: "Demo Text",
      textColor: '#ADD8E6',
      fontSize: 12,
      fontWeightList: ['lighter', 'normal', 'bold', 'bolder'],
      fontWeight: null,
      xOffset: 100,
      yOffset: 100,
      activeInputSync: false
    };
  },
  computed: {
    previewImage() {
      return this.isPreview ? 'show-icon.svg' : 'hide-icon.svg';
    },
    customInputs() {
      return `${this.textColor}${this.fontSize}${this.fontWeight}`
    }
  },
  methods: {
    initialState() {
      this.xOffset = 100;
      this.yOffset = 100;
      this.text = "Demo Text";
    },
    previewHandler() {
      this.isPreview = !this.isPreview;
    },
    inputNote() {
      const text = {};
      text["name"] = this.text;
      text["x"] = this.xOffset;
      text["y"] = this.yOffset;
      text["attr"] = this.selectedTextStyle;
      text["color"] = this.textColor;
      text["fontWeight"] = this.fontWeight;
      text["fontSize"] = this.fontSize;
      return text
    },
    loadTextOnCanvas() {
      const text = this.inputNote()
      this.$emit("loadOnCanvas", {
        key: "text",
        value: text,
        actionType: "add_new",
      });
      this.activeInputSync = true;
    },
    resetHandler() {
      this.$emit('reset', 'text')
    },
    inputChangeHandler(event, stateName) {
      this[stateName] = parseInt(event.target.value);
      console.log(this.activeInputSync, 'activeInputSync (*)()(*)')

      if (this.activeInputSync) {
        const text = this.inputNote()
        this.$emit("loadOnCanvas", {
          key: "text",
          value: text,
          actionType: "update_existing",
        });
      }
    },
    textSelectHandler(val) {
      this.selectedTextStyle = val;
      this.styleText()
    },
    styleText() {
      const style = {
        color: "#3CB371",
        fontWeight: "bold",
        fontSize: "11px",
        cursor: "auto",
      };
      if (this.selectedTextStyle === 'custom') {
        style.color = this.textColor
        style.fontSize = `${this.fontSize}px`
        style.fontWeight = this.fontWeight
        style.cursor = 'pointer'
      } else {
        if (textAttr[this.selectedTextStyle].fill) {
          style.color = textAttr[this.selectedTextStyle].fill;
        }
        if (textAttr[this.selectedTextStyle]["font-size"]) {
          style.fontSize = textAttr[this.selectedTextStyle]["font-size"];
        }
        if (textAttr[this.selectedTextStyle]["font-weight"]) {
          style.fontWeight = textAttr[this.selectedTextStyle]["font-weight"];
        }
        if (textAttr[this.selectedTextStyle]["cursor"]) {
          style.cursor = textAttr[this.selectedTextStyle]["cursor"];
        }
      }

      Object.assign(document.querySelector(".demo_text").style, style);
    }
  },
  watch: {
    activeParameters: {
      handler(val) {
        if (this.activeType == 'text' && Object.keys(val).length > 0) {
          this.xOffset = val["x"];
          this.yOffset = val["y"];
          this.text = val["name"];
          this.activeInputSync = true;
        } else {
          this.initialState();
        }
      },
      deep: true,
    },
    customInputs() {
      this.styleText()
    }
  }
};
</script>

<style scoped>
.preview-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 322px;
  height: 151px;
  background: #354070;
  border-radius: 4px;
}
</style>
